@tailwind base;
@tailwind components;
@tailwind utilities;

#cart-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input:focus{
  inset: 0;
  outline: none;
}